.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Button {
  min-width:80px;
  min-height: 40px;
}

Label {
  padding-top: 10px
}

Table {
  width:80%
}

/* .info{
 padding-bottom:5px 
} */

ul {
  text-align: left;
  font-size: small
}


Button{
  height:50px;

}
.td{
  min-width:100px;
  min-height:50px;
  border: 2px solid #888888
}